body {
    margin-top: 0px;
    margin-left:0px;
}
.parent-div {
    margin-right: 10px;
    float: left;
}
#text-input, #text-input:focus {
    outline: none !important;
    font-size: 18px;
    border: none;
    border-color: transparent;
    margin-top: 18px;
    margin-left: 8px;
    border-right: 1px solid black;
}

#preview {
    font-size: 18px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 49%;
    height: 92%;
}

.footer #save-button {
    margin: 7px auto auto 0;
}
.footer #load-button {
    margin: 7px auto auto auto;
}
.footer #delete-button {
    margin: 7px 0 auto auto;
}
.footer {
    text-align: center;
    position: fixed;
    margin-bottom:0px;
    bottom: 0px;
    border-top: 1px solid black;
    /*border: 1px solid red;*/
    /*background-color: #d3d3d3;*/
    width: 100%;
    height: 63px;
}

