.parent-div {
    margin-right: 10px;
    float: left;
}
#text-input, #text-input:focus {
    outline: none !important;
    font-size: 18px;
    border: none;
    overflow: auto;
    border-color: transparent;
}
#preview {
    font-size: 18px;
}
