body {
    margin-top: 0px;
    margin-left:0px;
}

p {
    margin-top: 10px;
}

textarea {
    padding-top: 0px;
}

.content {
    width: 100%;
    overflow: auto;
}

.content {
    border-top: 1px solid black;
}

#file-list-button {
    float:right;
    padding: 8px;
}

#text-input, #text-input:focus {
    outline: none !important;
    font-size: 12px;
    border: none;
    border-color: transparent;
    margin-left: 8px;
    margin-top: 10px;
    width: 47%;
    float: left;
    height: 90%;
}

#text-div {
    border-right: 1px solid black;
}

#file-name-box {
    border: 1px solid black;
    border-left: none;
    width: 49%;
    height: 5%;
    margin-left:2px;
    font-size:14px;
}

#preview {
    margin-left: 8px;
    font-size: 12px;
    overflow-x: scroll;
    overflow-y: scroll;
    float: left;
    width: 47%;
    height: 90%;
}

.footer #save-button {
    margin: 7px auto auto 0;
}

.footer #load-button {
    margin: 7px auto auto auto;
}

.footer #delete-button {
    margin: 7px 0 auto auto;
}

.footer {
    text-align: center;
    position: fixed;
    margin-bottom:0px;
    bottom: 0px;
    border-top: 1px solid black;
    width: 100%;
    height: 9%;
}

